/* ===== ##### ROOT VARIABLER ##### ===== */
:root {
    --backgound-color: darkslategrey;
    --header-footer-color: #333;
}

/* ===== ##### BODY ##### ===== */
body {
    background-color: var(--backgound-color);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Mindstehøjde for at fylde hele vinduet */
}

/* ===== ##### CONTAINER ##### ===== */
.container {
    flex-grow: 1; /* Gør containeren til flex-elementet, der vokser og fylder ledig plads */
    display: grid;
    grid-template-rows: auto 1fr auto; /* Del containeren i tre rækker */
}

/* ===== ##### HEADER ##### ===== */
.header {
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr 1fr;
    background-color: var(--header-footer-color);
    color: #fff;
    padding: 10px;
}

.header-column {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-title {
    grid-column: 2;
}

.header-search {
    grid-column: 4;
}

.searchfield {
    /* width: 100%; */
    padding: 5px;
    background-color: var(--header-footer-color);
    color: #fff;
}

/* ===== ##### MAIN ##### ===== */
.main {
    grid-row: 2;
}
#grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 100%; /* Set max width to 100% of the screen width */
    overflow: hidden; /* Hide horizontal scrollbar if content overflows */
}

#albums,
#artists,
#tracks {
    padding-left: 25px;
    padding-right: 25px; /* Add right padding to create space between columns */
}

/* Style for the tables */
table {
    width: 100%; /* Set table width to 100% */
    max-width: 100%; /* Ensure the table doesn't exceed the screen width */
    border-collapse: collapse;
}

/* Style for table cells */
table td,
table th {
    border: 1px solid #e0e0e0; /* Light gray border */
    padding: 10px;
    text-align: center;
}

/* Style for album cover images */
table img {
    max-width: 90%;
    height: auto;
}

/* Style for table headers */
table th {
    font-size: large;
    padding: 5px;
    font-weight: bold;
    background-color: #333; /* Dark gray background for headers */
    color: #fff; /* White text color for headers */
}

/* ===== ##### FOOTER ##### ===== */

.footer {
    grid-row: 3;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr 1fr; /* Opdel footer i fem kolonner */
    background-color: var(--header-footer-color); /* Tilpas baggrundsfarven efter dine præferencer */
    color: #fff; /* Tilpas tekstfarven efter dine præferencer */
    width: 100%; /* Fyld hele bredden af skærmen */
    margin-top: 20px;
}

.footer-title {
    padding: 10px 0;
    text-align: center; /* Centrer overskriften i midterste kolonne */
    grid-column: 2;
}

.footer-inspiration {
    grid-column: 4;
    text-align: center;
    padding: 10px 0;
}
